#choropleth_map {
	top:5px;
	left: 325px;
	height: 500px;
	width: 925px;
}

#population_pyramid {
	top:20px;
	left: 125px;
	right: 100px;
	height: 450px;
	width: 540px;
}

#heatmap {
	top:5px;
	left: 125px;
	height: 450px;
	width: 550px;
}

#isotype_bar_chart_left {
	top:20px;
	left: 125px;
	right: 100px;
	height: 800px;
	width: 500px;
}

#isotype_bar_chart_right {
	top:20px;
	left: 125px;
	right: 100px;
	height: 800px;
	width: 500px;
}

#streamgraph {
	top:5px;
	left: 18px;
	height: 500px;
	width: 470px;
}

#horizon_graph {
	top:20px;
	left: 55px;
	height: 500px;
	width: 410px;
}

#streamgraph2 {
	top:5px;
	left: 40px;
	height: 500px;
	width: 410px;
}
